@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* Primary */
    
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    
    /* Neutral */
    
    --Transparent-white: hsla(0, 0%, 100%, 0.75); /*(paragraphs)*/
    --Very-light-gray: hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh; 
}

body {
    background-color: var(--Very-light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 270px;
    margin: 4em 0 2em 0;
    border-radius: 10px;
    transition: all .5s;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.438);
}

.card > div {
    padding: 2.125em 2.125em 3em 2.125em;    
}

img,
h1 {
    margin-bottom: 1.75rem;
}

.sedans {
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0;
}

.sedans a {
    color: var(--Bright-orange);
}

.suvs {
    background-color: var(--Dark-cyan);
}

.suvs a {
    color: var(--Dark-cyan);
}

.luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 0 10px 10px;
}

.luxury a {
    color: var(--Very-dark-cyan);
}

h1 {
    color: var(--Very-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

p {
    color: var(--Transparent-white);
    font-size: .8125rem;
    margin-bottom: 2.25em;
}

.card a {
    text-decoration: none;
    background-color: var(--Very-light-gray);
    padding: .75rem 1.5rem;
    border-radius: 20px;
    font-size: .6875rem;
}

.card a:hover {
    cursor: pointer;
    background-color: transparent;
    color: var(--Very-light-gray);
    border: 2px solid var(--Very-light-gray);
}

.attribution {
     font-size: 11px; 
    text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

@media screen and (min-width:992px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        position: relative;
        display: flex;
        justify-content: center;
        width: 900px;
        min-height: 50%;
    }

    .card > div {
        display: flex;
        flex-direction: column;
        padding: 2.5em;
    }

    .card img {
        width: 80px;
    }

    .card a {
        font-size: .9125rem;
        position: absolute;
        bottom: 10%;
        width: 17%;
        text-align: center;
    }

    .sedans {
        border-radius: 10px 0 0 10px;
    }

    .luxury {
        border-radius: 0 10px 10px 0;
    }

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: .9125rem;
        padding-right: 1em;
        line-height: 1.5rem;
    }
}